body{
    margin:0;
    background-color: #F4F5F9 !important;
}
#gog{
    padding:3px 8px 0
}
td{
    line-height:.8em
}
.gac_m td{
    line-height:17px
}
form{
    margin-bottom:20px
}
body,td,a,p,.h{
    font-family:arial,sans-serif;
}
.h{
    color:#36c;font-size:20px
}
.q{
    color:#00c
}
.ts td{
    padding:0
}
.ts{
    border-collapse:collapse
}
em{
    color:#c03;font-style:normal;
    font-weight:normal
}
a em{
    text-decoration:underline
}
.lst{
    height:25px;float:right;width:496px
}
.tiah{
    width:458px
}
div.ds{
    width:512px;width:504px
}
.ds{
    border-bottom:solid 1px #e7e7e7;
    border-right:solid 1px #e7e7e7;
    display:-moz-inline-box;
    display:inline-block;
    margin:3px 0 4px;
    margin-left:4px
}
input{
    font-family:inherit
}
a.gb1,a.gb2,a.gb3,a.gb4{
    color:white!important
}
#gog{background:#fff}
#gbar,#guser{
    font-size:13px;padding-top:3px !important;padding-left: 3px;  
}
#gbar{float:left;height:22px;}
#guser{padding:5px !important;text-align:right;padding-top:7px;padding-top:7px}
.gbh,.gbd{border-top:1px solid #6B90DA;font-size:1px}
.gbh{height:0;position:absolute;top:24px;width:100%}
#gbs,.gbm{background:#fff;left:0;position:absolute;text-align:left;visibility:hidden;z-index:1000}
.gbm{border:1px solid;border-color:#c9d7f1 #36c #36c #a2bae7;z-index:1001}
.gb1{margin-right:.5em}
.gb1,.gb3{zoom:1}
.gb2{display:block;padding:.2em .5em}
.gb2,.gb3{text-decoration:none;border-bottom:none}
a.gb1,a.gb2,a.gb3,a.gb4{color:#00c !important}
a.gb2:hover{background:#36c;color:#fff !important}
#gbar .gbz0l{color:#000 !important;cursor:default;font-weight:bold;text-decoration:none !important}
body{background:#fff;color:black}
input{-moz-box-sizing:content-box}
a{color:#11c;text-decoration:none}
a:hover,a:active{text-decoration:none}
.fl a{color:#36c}
a:visited{color:#551a8b}
a.gb1,a.gb4{text-decoration:none}
a.gb3:hover{text-decoration:none}
#ghead a.gb2:hover{color:#fff!important}

a.gb2:hover{
    background:#36c;color:#fff !important
}
 